body{
	margin: 0;
	padding: 0;
	background: url("1.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	font-family: sans-serif;
}

.loginbox{
	width: 420px;
	height: 530px;
	background: #EFEFEF;
	color: #4C4C4C;
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%,-50%);
	box-sizing: border-box;
	padding: 8% 2%;
	border-radius: 10px;
}


h1{
	margin: -40px 0 10px;

	padding: 0 0  ;
	text-align: center;
	
}

.loginbox p{
	margin: ;
	padding: 0;
	font-weight: bold;
}

.loginbox input{
	width:100%;
	margin-bottom: 20px;
}

#username, #password{
	border: none;
	border-bottom: 1px solid purple;
	background: transparent;
	outline: none;
	height: 40px;
	color: #999999;
	font-size: 16px;

}

#submit{
	border: none;
	outline: none;
	height: 50px;
	background: darkblue;
	color: #FFF;
	font-size: 18px;
	border-radius: 20px;
	font-weight: bold;
}

#submit:hover
{
	cursor: pointer;
	background: purple;
	color: #FFFFFFFF;
	box-shadow: 0 10px  10px darkblue ;

}


#err {
	text-align: center;
	height: 30px;
	background: darkred;
	color: #FFF;
	padding-top: 10px;
	font-size: 15px;
	border-radius: 20px;
	box-shadow: 0 10px  10px red ;
	font-weight: bold;
}
